.set-btn {
    width: 60px;
    height: 20px;
    background: #0284c8;
    margin-left: 42%;
    padding-bottom: 10px;
    border-radius: 1px;
    margin-bottom: 2%;
  }
  .export-text{
  text-align: center; font-size: 18x; padding-bottom: 1%;
}
.main-text{
  text-align: left; padding-left: 2%; padding-bottom: 3%; font-size: 18px;
}
.main-screen-2{
    height: 80vh; 
    width: 100%; 
    background: linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%);
  }
  
  
  
  
  
  .box1,
  .box2 {
    width: 301px;
    height: 390px;
    flex-shrink: 0;
    background-color: #fff;
    border: #000 solid 0.5px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 25%);
  }
  .box1 img,
  .box2 img {
    width: 301px;
    height: 250px;
    flex-shrink: 0;
  }
  
  .box1 div h1,
  .box2 div h1 {
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 2%;
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
   
  }
  .schedule-btn {
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .schedule-btn p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .card-content {
    display: flex;
    justify-content: center;
    padding-top:2%;
    height: 40vh;
  }
  .header {
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
  }
  .header h1 {
    padding-left: 2%;
    padding-bottom: 1%;
  }

  .slds-scrollable_x:host ::ng-deep .slds-scrollable_x {
    overflow-x: hidden !important;
}
.backupSpins::after {
    position: relative;
    display: inline-block;
    content: 'Please Wait While we are processing your request......';
    width: 100%;
    height: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
  }

  .btn {
    width: 170px;
    height: 25px;
    border-radius: 5px;
    background: #0284c8;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
  }
  .bt p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .text h1 {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 2%;
  }
  .text p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sch-date-time {
    font-family: "inter";
    color: #000;
    font-size: 15px;
    padding-right: 2%;
    align-items: left; padding-left: 15%; font-size: 15px;
  }

  @media (max-width: 460px) {
    .text h1 {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 2%;
  }
  .text p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxes{
    display:flex;
    align-items: center;
    flex-direction: column;
    
  }
  .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box1,
  .box2 {
    width: 301px;
    height: 390px;
    flex-shrink: 0;
    background-color: #fff;
    border: #000 solid 0.5px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 25%);
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .main-screen-2{
    height: 100%; 
    width: 100%; 
    background: linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%);
  }
  .text h1 {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 2%;
  }
  .text p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main-text{
    text-align: left;
    padding-left: 2%;
    padding-bottom: 3%;
    font-size: 13px;
}
.sch-date-time {
    font-family: "inter";
    color: #000;
    font-size: 15px;
    padding-right: 2%;
    align-items: left;
    padding-left: 15%;
    font-size: 10px;
  }
  }