@font-face {
    font-family: "inter";
    src: url("https://fonts.googleapis.com/css?family=Inter");
  }
  .main{
    background:  linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%); height: 80vh;
  }
  .searchbar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 60%;
    height: 50%;
    padding-left: 2%;
    background-color: darkgrey;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .main-screen-2{
    height: 80vh; width: 100%;
  }
  
  .styled-table {
    width: 800px;
    height: 56vh;
    overflow-y: auto;
    border-collapse: collapse;
    min-width: 400px;
    background-color: #ffffff;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .currentUser {
    color: #fff;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 2%;
    padding-left: 2%;
    width: 96%;
    height: 10vh;
    border-bottom: 2px solid #ffffff;
    margin-left: 2%;
  }
  .slds-modal__container {
    position: fixed;
    top: 64%;
    left: 77%;
    transform: translate(-58%, -100%);
    width: 300px;
    height: 61px;
    z-index: 3;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 5vh;
  }
  th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .box1,
  .box2 {
    width: 301px;
    height: 390px;
    flex-shrink: 0;
    background-color: #fff;
    border: #000 solid 0.5px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 25%);
  }
  .box1 img,
  .box2 img {
    width: 301px;
    height: 250px;
    flex-shrink: 0;
  }
  
  .box1 div h1,
  .box2 div h1 {
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%; 
  }
  
  .export-btn {
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
  }
  .export-btn p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .schedule-btn {
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .schedule-btn p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .card-content {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    height: 40vh;
  }
  .header {
    font-weight: 500;
    font-size: 1.563rem;
    text-align: left;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
  }
  .header h1 {
    padding-left: 2%;
    padding-bottom: 1%;
  }
  
  .modal {
    position: fixed;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .modal1 {
    position: fixed;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .buttons{
    margin-left: 30%;
  }
  .set-btn {
    width: 60px;
    height: 20px;
    flex-shrink: 0;
    background: #0284c8;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 1px;
  }
  .set-btn p {
    color: #fff;
    font-family: "inter";
    font-size: 10px;
    font-weight: 500;
    margin-left: 15px;
  }
  .export-btn1 {
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
  }
  .export-btn1 p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .schedule-btn1 {
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .schedule-btn1 p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .spins::after {
    position: absolute;
    content: 'Fetching Objects Please Wait ......';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.backupSpins::after {
  position: absolute;
  content: 'Please Wait While we are processing your request......';
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
}

.btn {
  width: 170px;
  height: 25px;
  border-radius: 5px;
  background: #0284c8;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}
.bt p {
  color: #fff;
  text-align: center;
  font-family: "inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.export-text{
  text-align: center; font-size: 25x; padding-bottom: 1%;
}
.main-text{
  text-align: left; padding-left: 2%; padding-bottom: 3%; font-size: 18px;
}
.text h1 {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 2%;
  }
  .text p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.sch-date-time {
    font-family: "inter";
    color: #000;
    font-size: 15px;
    padding-right: 2%;
    align-items: left; padding-left: 15%; font-size: 15px;
  }

@media (max-width: 480px){
  .main{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%);

  }
  .currentUser{
    color: #fff;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;
    height: 8vh;
  }
  .searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50%;
    padding-left: 2%;
    background-color: darkgrey;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 10%;
  }
  .styled-table th{
    padding: 10px 5px;
  }
  .buttons{
    font-size:15px;
    margin-left: 30%;
  }
  .styled-table{
    width: 90%;
    height: 380px;
    overflow-y: auto;
    border-collapse: collapse;
     min-width: 0;
    background-color: #ffffff;
}
  .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box1,
  .box2 {
    width: 301px;
    height: 390px;
    flex-shrink: 0;
    background-color: #fff;
    border: #000 solid 0.5px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 25%);
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .main-text{
    text-align: left;
    padding-left: 2%;
    padding-bottom: 3%;
    font-size: 13px;
}
.sch-date-time {
    font-family: "inter";
    color: #000;
    font-size: 15px;
    padding-right: 2%;
    align-items: left;
    padding-left: 15%;
    font-size: 10px;
  }
   .main{
    background:  linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%); 
    height: 100%;
  }
  .slds-modal__container{
    position: fixed;
    top: 64%;
    left: 77%;
    transform: translate(-100%, 10%);
    width: 261px;
    height: 61px;
    z-index: 3;
  }
  .text h1 {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 2%;
  }
  .text p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main-screen-2{
    height: 100%; 
    width: 100%; 
    background: linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%);
  }
  .modal1{
    position: relative;
    top: 70%;
    left: 70%;
    transform: translate(-100%, -50%);
  }
  .modal{
    position: relative;
    top: 70%;
    left: 70%;
    transform: translate(-100%, -50%);
  }
  .export-text{
  text-align: center; font-size: 18x; padding-bottom: 1%;
}
.main-text{
  text-align: left; padding-left: 2%; padding-bottom: 3%; font-size: 18px;
}
}