@font-face {
    font-family: "inter";
    src: url("https://fonts.googleapis.com/css?family=Inter");
  }
  .searchbar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60%;
    height: 50%;
    padding-left: 5%;
    background-color: darkgrey;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .styled-table {
    width: 55%;
    height: 56vh;
    overflow-y: auto;
    border-collapse: collapse;
    min-width: 400px;
    background-color: #ffffff;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .currentUser {
    color: #fff;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 2%;
    padding-left: 2%;
    width: 96%;
    height: 10vh;
    border-bottom: 2px solid #ffffff;
    margin-left: 2%;
  }
  .slds-modal__container {
    position: fixed;
    top: 64%;
    left: 77%;
    transform: translate(-58%, -100%);
    width: 300px;
    height: 61px;
    z-index: 3;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 5vh;
    
  }
  th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .box1,
  .box2 {
    width: 301px;
    height: 390px;
    flex-shrink: 0;
    background-color: #fff;
    border: #000 solid 0.5px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 25%);
  }
  .box1 img,
  .box2 img {
    width: 301px;
    height: 250px;
    flex-shrink: 0;
  }
  
  .box1 div h1,
  .box2 div h1 {
    color: #000;
    text-align: center;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 2%;
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
  }
  .main-screen-2 div {
    color: #fff;
    font-family: "Inter";
    line-height: normal;
  }
  
  .export-btn {
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
  }
  .export-btn p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .schedule-btn {
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0284c8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .schedule-btn p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .card-content {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    height: 40vh;
  }
  .header {
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
  }
  .header h1 {
    padding-left: 2%;
    padding-bottom: 1%;
  }
  .textVariable {
    color: #000;
    font-family: "inter";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2%;
  }
  .sch-date-time {
    font-family: "inter";
    color: #000;
    font-size: 15px;
    padding-right: 2%;
  }
  .modal {
    position: fixed;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .modal1 {
    position: fixed;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .spins::after {
    position: absolute;
    content: 'Fetching Metadata Types  Please Wait......';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.backupSpins::after {
    position: absolute;
    content: 'Please Wait While we are processing your request......';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.btn {
    width: 170px;
    height: 25px;
    border-radius: 5px;
    background: #0284c8;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
  }
  .bt p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .buttons{
    font-size: 15px; 
    margin-left: 70%;
  }

  @media (max-width: 460px){
    .searchbar{
      display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 90%;
    height: 50%;
    padding-left: 5%;
    background-color: darkgrey;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    }
    .styled-table{
    width: 90%;
    height: 60vh;
    overflow-y: auto;
    border-collapse: collapse;
    min-width: 0;
    background-color: #ffffff;
  }
  .buttons{
    font-size:15px;
    margin-left: 30%;
  }
  .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box1,
  .box2 {
    width: 301px;
    height: 390px;
    flex-shrink: 0;
    background-color: #fff;
    border: #000 solid 0.5px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 25%);
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .main-text{
    text-align: left;
    padding-left: 2%;
    padding-bottom: 3%;
    font-size: 13px;
}
.sch-date-time {
    font-family: "inter";
    color: #000;
    font-size: 15px;
    padding-right: 2%;
    align-items: left;
    padding-left: 15%;
    font-size: 10px;
  }
   .main{
    background:  linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%); 
    height: 100%;
  }
  .slds-modal__container{
    position: fixed;
    top: 64%;
    left: 77%;
    transform: translate(-100%, 10%);
    width: 261px;
    height: 61px;
    z-index: 3;
  }
  .text h1 {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 2%;
  }
  .text p {
    color: #fff;
    text-align: center;
    font-family: "inter";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main-screen-2{
    height: 100%; 
    width: 100%; 
    background: linear-gradient(180deg, #0088cf 0%, rgba(0, 136, 207, 0) 100%);
  }
  .modal1{
    position: relative;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -150%);
  }
  .modal{
    position: relative;
    top: 70%;
    left: 70%;
    transform: translate(-100%, -50%);
  }

  }